.Categories {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titan One", cursive;
}

.Categories p {
  display: flex;
  justify-content: center;
  align-items: center;
  color:pink;
  font-size: 50px;
  margin: 30px;
}

.Categories .catWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 250px;
}

.Categories .categoryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Categories .categoryList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Categories .category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid pink;
  width: 150px;
  height: 150px;
  margin: 10px;
  color:pink;
  font-size: xx-large;
  cursor: pointer;
}

.Categories input {
  display: none;
}

.Categories input:checked + div {
  background-color: pink;
  color: black;
}

.Categories button {
  font-size: x-large;
  margin: 30px;
  cursor: pointer;
}