@font-face {
  font-family: battlelines;
  src: url('../fonts/battlelines.ttf') format('ttf');
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: battlelines;
}

nav * {
  margin:9px;
}