.AboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AboutUs h1 {
  font-size: 100px;
  text-align: center;
}

.AboutUs .bios {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.AboutUs .avatar {
  padding: 5%;
  object-fit: cover;
  width: 150px;
  height: 200px;
  border-radius: 30px;
}

.AboutUs .bio-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutUs .bios .profile {
  margin: 20px;
  background-color: white;
  color: black;
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
}

.AboutUs .links {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.AboutUs .links a {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 75px;
}

.AboutUs .blurb {
  width: 500px;
  margin: 10px;
  font-size: larger;
  font-style: italic;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.AboutUs .blurb h2 {
  margin: 10px;
  font-weight: bolder;
  font-size: 25px;
}