.LeaderboardPage {
  height: 100vh;
}

.LeaderboardPage .resultsHeader {
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  background-color: red;
}

.LeaderboardPage .resultsWrapper {
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  border: 1px solid black;
  color: black;
}

